<article class="article">
  <header class="article-header">
    <h1 class="article-title">
      <a href="/{{ path }}">{{ title }}</a>
    </h1>
    <div class="article-meta">
      <time>{{ date }}</time>
      <!--
      <address class="article-author">
        by <a rel="author" href="/">Dana Woodman</a>
      </address>
      -->
    </div>
  </header>

  <section class="article-content">
{{{contents}}}
  </section>
</article>