    <footer class='page-footer'>
      <div class='container'>
        <h2 class='page-footer-heading'>Let's Chat!</h2>
        <p>
          If you'd like to talk, you can email me at <a href='mailto:dana@danawoodman.com'>dana@danawoodman.com</a>
        </p>
        <p>
          Follow me on <a href='https://github.com/danawoodman'>Github</a>
        </p>
      </div>
    </footer>

    <script src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js'></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{#if development}}
      <script src='http://localhost:35729/livereload.js'></script>
    {{/if}}
  </body>
</html>
