<footer class='page-footer'>
  <div class='container'>
    <p>
      <strong>Want to chat?</strong>
      <br>
      Shoot me an email me at <a
        href='mailto:dana@danawoodman.com'>dana@danawoodman.com</a>
      or follow me on <a href='https://github.com/danawoodman'>Github</a>
    </p>
  </div>
</footer>

<script src='/highlight.js'></script>
<script>hljs.initHighlightingOnLoad();</script>
{{#if development}}
<script src='http://localhost:35729/livereload.js'></script>
{{/if}}
<script async
  src="https://www.googletagmanager.com/gtag/js?id=UA-162746878-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-162746878-1');
</script>
</body>

</html>