<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
    <meta name='description' content='{{ description }}'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{{ title }} ☞ Dana Woodman</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Crete+Round:|Roboto+Mono:' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/github.min.css'>
    <link rel='stylesheet' href='/styles.css'>
  </head>
  <body>

    <header class='page-header'>
      <div class='container'>
        <h1 class='brand'>
          <a href='/'>Dana Woodman</a>
        </h1>
      </div>
    </header>
