<!doctype html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='x-ua-compatible' content='ie=edge'>
  <meta name='description' content='{{ description }}'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>{{ title }} by Dana Woodman</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;800&family=PT+Mono&family=Work+Sans:wght@300;500&display=swap"
    rel="stylesheet">
  {{!-- <link rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/tomorrow-night.min.css'> --}}
  <link rel='stylesheet' href='/styles.css'>
  <link rel='stylesheet' href='/tomorrow.css'>
</head>

<body>

  <header class='page-header'>
    <div class='container'>
      <h1 class='brand'>
        <img
          src="https://www.gravatar.com/avatar/39807ce0d3f73fbd1fedb779d7b80851?s=120"
          width="120" class="avatar" />
        <a href='/'>Dana Woodman</a>
      </h1>
    </div>
  </header>