<html>
  <head>
    <title>{{ title }} ☞ Dana Woodman</title>
    <meta name='description' content='{{ description }}'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,300italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/github.min.css'>
    <link rel='stylesheet' href='/styles.css'>
  </head>
  <body>
