/*---------------------------------------------------
 * BASE STYLES
 --------------------------------------------------*/
body {
  color: #222;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Crete Round', serif;
  font-weight: 800;
  line-height: 1.2;
}

h2 {
  font-size: 2.5rem;
}

a {
  color: #4a90e2;
  text-decoration: none;
}
  a:hover {
    color: black;
    text-decoration: underline;
  }

li,
p,
pre {
  font-size: 1.3rem;
  line-height: 1.6;
  margin: 0 0 1.6rem 0;
}

li {
  margin: 0 0 1rem 0;
}

p {
  color: #333;
}

code {
  color: #f26000;
  font-family: 'Roboto Mono', monospace;
}

.hljs {
  background: #fafafa;
  font-size: 0.85rem;
  padding: 1.5rem 1.5rem 0 2rem;
}


/*---------------------------------------------------
 * CONTAINER
 --------------------------------------------------*/

.container {
  clear: both;
  margin: 0 auto;
  max-width: 55rem;
  padding: 0 1.5rem;
  text-align: left;
}


/*---------------------------------------------------
 * PAGE
 --------------------------------------------------*/

.page-header {
  background: #111;
  margin: 0 0 6rem 0;
  padding: 2rem 0;
}

.brand {
  font-size: 2rem;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
  .brand a {
    color: #fff;
    text-decoration: none;
  }


/*---------------------------------------------------
 * PAGE FOOTER
 --------------------------------------------------*/

.page-footer {
  background: #fafafa;
  padding: 6rem 0;
}
  .page-footer p {
    margin: 0;
    text-align: center;
  }


/*---------------------------------------------------
 * ARTICLE LIST
 --------------------------------------------------*/

.article-list,
.article-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-list-item {
  padding-bottom: 2rem;
}


/*---------------------------------------------------
 * ARTICLE DETAIL
 --------------------------------------------------*/

.article {
  margin: 6rem 0;
}

.article-header {
}

.article-meta {
  color: #ccc;
  margin-bottom: 2rem;
}
  .article-meta a {
    color: #888;
  }
  .article-author {
    font-style: normal;
    display: inline;
  }

.article-title {
  font-size: 3rem;
  margin: 0 0 2rem 0;
}
  .article-title a {
    color: black;
    text-decoration: none;
  }

.article-content {}

.read-more {
  margin-bottom: 6rem;
}
