:root {
  /* Colors */
  --color-gray-darkest: #1d1f21;
  --color-gray-darker: #3d3d3d;
  --color-gray: #aaa;
  --color-gray-light: #ccc;
  --color-gray-lightest: #eee;
  --color-secondary: #ffad3b;
  --color-primary-light: #ffdbde;
  --color-primary: #ff3b62;
  --color-primary-dark: #91102a;

  /* Font families */
  --font-family-sans-serif: 'Work Sans', sans-serif;
  --font-family-serif: 'Zilla Slab', serif;
}

/*---------------------------------------------------
 * BASE STYLES
 --------------------------------------------------*/

body {
  color: var(--color-gray-darkest);
  font-family: var(--font-family-sans-serif);
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: var(--font-family-serif);
  font-weight: 300;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  margin-top: 4rem;
}

a {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: var(--color-primary-dark);
  text-decoration: underline;
}

li,
p,
pre {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0 0 1.6rem 0;
}

li {
  margin: 0 0 1rem 0;
}

code {
  color: var(--color-secondary);
  font-family: 'PT Mono', monospace;
}

code.hljs {
  font-size: 0.9rem;
  padding: 2rem;
}

/*---------------------------------------------------
 * CONTAINER
 --------------------------------------------------*/

.container {
  clear: both;
  margin: 0 auto;
  max-width: 55rem;
  padding: 0 1.5rem;
  text-align: left;
}

/*---------------------------------------------------
 * PAGE
 --------------------------------------------------*/

.page-header {
  /* background: #eaeaea; */
  margin: 0 0 3rem 0;
  padding: 2rem 0;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
.brand .avatar {
  margin-bottom: 2rem;
  border-radius: 50%;
}

.brand a {
  color: #aaa;
  text-decoration: none;
}

/*---------------------------------------------------
 * PAGE FOOTER
 --------------------------------------------------*/

.page-footer {
  padding: 6rem 0;
}
.page-footer p {
  margin: 0;
  text-align: center;
}

/*---------------------------------------------------
 * ARTICLE LIST
 --------------------------------------------------*/

.article-list,
.article-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-list-item {
  padding-bottom: 2rem;
}

/*---------------------------------------------------
 * ARTICLE DETAIL
 --------------------------------------------------*/

.article {
  margin: 3rem 0;
}

.article-header {
}

.article-meta {
  color: #ccc;
  margin-bottom: 2rem;
}
.article-meta a {
  color: #888;
}
.article-author {
  font-style: normal;
  display: inline;
}

.article-title {
  font-size: 2.5rem;
  margin: 0 0 2rem 0;
}
.article-title a {
  color: black;
  text-decoration: none;
}
.article img {
  width: 100%;
}

.read-more {
  margin-bottom: 6rem;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  html,
  body {
    background: var(--color-gray-darker);
    color: var(--color-gray-lightest);
  }

  code {
    color: var(--color-secondary);
  }

  .article-title a:hover,
  a:hover {
    color: var(--color-primary-light);
  }

  .brand a {
    color: var(--color-gray-lightest);
  }

  .article-title a {
    color: var(--color-gray-lightest);
  }
}
