:root {
  /* Colors */
  --color-gray-darkest: #1d1f21;
  --color-gray-darker: #3d3d3d;
  --color-gray-dark: #777;
  --color-gray: #aaa;
  --color-gray-light: #ccc;
  --color-gray-lighter: #ddd;
  --color-gray-lightest: #eee;
  --color-secondary: #ffad3b;
  --color-primary-light: #ffdbde;
  --color-primary: #ff3b62;
  --color-primary-dark: #91102a;

  /* Defaults */
  --default-font-family: 'Work Sans', sans-serif;
  --default-font-size: 18px;
  --default-color: #333;
  --default-background: white;

  /* Links */
  --link-color: #0075b0;
  --link-color-hover: #1fb4ff;

  /* Code related */
  --code-font-family: 'PT Mono', monospace;
  --code-font-size: 0.95rem;
  --code-color: black;
  --code-background: #f7f6e9;
  --code-padding: 0.2rem 0.3rem;

  /* Container */
  --container-width: 50rem;

  /* Header/brand */
  --brand-link-color: #444;
  --brand-link-color-hover: #222;

  /* Headings */
  --heading-font-family: 'Fira Sans', sans-serif;
  --heading-link-color: black;
  --h1-font-size: 2.7rem;
  --h1-margin: 0 0 2rem 0;
  --h2-font-size: 2.1rem;

  /* Article */
  --timestamp-color: #999;

  /* Tags */
  --tag-color: #777;
  --tag-background: #eee;

  /* Anchor links */
  --anchor-color: #ccc;
  --anchor-color-hover: var(--link-color);
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  :root {
    --default-color: #ccc;
    --default-background: #1d1f21;

    --code-color: #aaa;
    --code-background: #111;

    --brand-link-color: #aaa;
    --brand-link-color-hover: #eee;

    --heading-link-color: #ccc;

    --tag-color: #666;
    --tag-background: #111;

    --anchor-color: #666;
  }
}

/*---------------------------------------------------
 * BASE STYLES
 --------------------------------------------------*/

html {
  font-size: var(--default-font-size);
}
body {
  color: var(--default-color);
  background-color: var(--default-background);
  font-family: var(--default-font-family);
  font-weight: 300;
  margin: 0;
  padding: 0 0 6rem 0;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}
h1 a,
h2 a,
h3 a {
  color: var(--heading-link-color);
}
h1 {
  font-size: var(--h1-font-size);
  margin: var(--h1-margin);
}
h2 {
  font-size: var(--h2-font-size);
  margin: 4rem 0 2.5rem;
  padding: 3rem 0 0 0;
}
h3 {
  font-size: 1.6rem;
}

a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

li,
p,
pre {
  font-size: 1rem;
  line-height: 1.8;
  margin: 0 0 1.8rem 0;
}

li {
  margin: 0 0 0.5rem 0;
}

code {
  color: var(--code-color);
  background-color: var(--code-background);
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  padding: var(--code-padding);
}

pre,
pre[class*='language-'] {
  font-size: 1rem !important;
  padding: 2rem 2.25rem !important;
  border-radius: 0.25rem;
  margin: 2.5rem 0 !important;
}

/*---------------------------------------------------
 * CONTAINER
 --------------------------------------------------*/

.container {
  clear: both;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 3rem;
  text-align: left;
}

/*---------------------------------------------------
 * PAGE HEADER
 --------------------------------------------------*/

.page-header {
  /* background: #eaeaea; */
  margin: 0 0 3rem 0;
  padding: 3rem 0;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
.brand .avatar {
  margin-bottom: 2rem;
}

.brand a {
  color: var(--brand-link-color);
  text-decoration: none;
  letter-spacing: 0.4rem;
}
.brand a:hover {
  color: var(--brand-link-color-hover);
}

/*---------------------------------------------------
 * AVATAR
 --------------------------------------------------*/

.avatar {
  border-radius: 50%;
}

/*---------------------------------------------------
 * ANCHOR
 --------------------------------------------------*/

.anchor {
  color: var(--anchor-color);
  margin-left: 1rem;
  font-weight: 400;
}
.anchor:hover {
  color: var(--anchor-color-hover);
  text-decoration: none;
}

/*---------------------------------------------------
 * PAGE FOOTER
 --------------------------------------------------*/

.page-footer {
  padding: 4rem 0;
}

.byline {
  display: flex;
  align-items: center;
}
.byline figure {
  margin-right: 4rem;
}
.byline aside {
}
.byline aside h3 {
  margin: 0 0 0.5rem 0;
}
.byline aside p {
  margin: 1rem 0;
}

/*---------------------------------------------------
 * ARTICLE LIST
 --------------------------------------------------*/

.article-list {
  text-align: center;
}
.article-list,
.article-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-list-item {
  padding-bottom: 4rem;
}

.article-list-item-heading {
  font-size: 1.6rem;
  margin: 0 0 0.75rem 0;
}

/*---------------------------------------------------
 * TAGS
 --------------------------------------------------*/

.tags {
  margin: 0.3rem 0 0;
}
.tags .tag {
  background: var(--tag-background);
  color: var(--tag-color);
  border-radius: 0.2rem;
  font-size: 0.75rem;
  padding: 0.3rem 0.5rem;
  margin-right: 0.4rem;
  text-transform: uppercase;
}

/*---------------------------------------------------
 * ARTICLE DETAIL
 --------------------------------------------------*/

.article {
  margin: 3rem 0;
}

.article-header {
  margin-bottom: 4rem;
}

.article-meta {
  color: var(--timestamp-color);
  margin-bottom: 2rem;
}
.article-meta a {
  color: #888;
}
.article-author {
  font-style: normal;
  display: inline;
}

.article img {
  width: 100%;
}

.read-more {
  margin-bottom: 6rem;
}
