{{> header }}

<div class='container'>
  <ul class='article-list'>
    {{#each collections.articles}}
    <li class='article-list-item'>
      <h3 class="article-list-item-heading">
        <a href="{{path}}">{{title}}</a>
      </h3>
      <div class='tags'>
        {{#each tags}}
        <span class='tag'>{{.}}</span>
        {{/each}}
      </div>
    </li>
    {{/each}}
  </ul>
</div>

{{> footer }}