{{> header }}

<article class='article'>
  <header class='article-header'>
    <div class='container'>
      {{> avatar}}
      <time class='article-date'>
        {{ date }}
      </time>
      <h1 class='article-heading'>{{ title }}</h1>
      <address class='article-author'>By <a rel='author' href='/'>Dana Woodman</a></address>
    </div>
  </header>
  <section class='article-content'>
    <div class='container'>
      {{> tags}}
      <p class='article-reading-time'>Reading time: {{ readingTime }}</p>
      {{{contents}}}
      {{> navigation}}
    </div>
  </section>
</article>

{{> footer }}
